name: Deploy MkDocs via SSH
on:
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install mkdocs mkdocs-material
      - run: mkdocs build
      - uses: peaceiris/actions-gh-pages@v4
        with:
          ssh_key: SINGLECELL_TOKEN
          publish_dir: ./site
          repo: git@github.com:Wangjien/my-single-cell-record.git